.patientprofile-container {
  min-height: 100vh;
}
.patient-profile {
  max-width: 900px !important;
  max-height: 600px !important;
  margin-left: 12%;
  margin-top: 5%;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: repeat(3, 1fr) !important;
  gap: 70px;
}

/* Edit button styling */
.edit-button {
  position: absolute;
  top: 20px; /* Adjust distance from top */
  right: 20px; /* Adjust distance from right */
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #0056b3;
  transition: color 0.3s ease;
}

.edit-button:hover {
  font-size: 24px;
  color: coral;
}

.field {
  display: flex;
  gap: 15px;
  color: #555;
  font-size: 20px !important;
}

.field i {
  font-size: 20px;
  color: #0056b3;
}

.field p {
  margin: 0;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.ReactModal__Content {
  max-width: 1150px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.ReactModal__Content button {
  margin-left: 95% !important;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: red;
  cursor: pointer;
}

.ReactModal__Content button:hover {
  transform: scale(1.2);
}
.ReactModal__Content form {
  display: grid;
  grid-template-columns: repeat(6, 1fr) !important;
  gap: 20px;
  padding: 30px !important;
}

.ReactModal__Content label,
select {
  font-size: 15px;
  color: #555;
  display: flex;
  flex-direction: column;
}

.ReactModal__Content input,
select {
  padding: 8px 12px;
  font-size: 1rem;
  width: 150%;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.2s;
}

.ReactModal__Content .profile-button {
  width: 90% !important;
  height: 40% !important;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 50% !important;
  margin-left: 350% !important;
}

.ReactModal__Content button[type="button"]:hover {
  background-color: #0056b3;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
  .ReactModal__Content {
    max-width: 90%;
    padding: 15px;
  }

  .ReactModal__Content form {
    grid-template-columns: 1fr; /* Switch to a single column layout on smaller screens */
  }

  .ReactModal__Content h2 {
    font-size: 1.5rem;
  }

  .ReactModal__Content button {
    font-size: 1.5rem;
  }

  .ReactModal__Content input {
    font-size: 0.9rem;
  }

  .ReactModal__Content button[type="button"] {
    font-size: 0.9rem;
    padding: 8px 15px;
  }
}
