.roles-table {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}
.role-card {
  margin-top: 3%;
  background: linear-gradient(135deg, #e0eafc, #94c0fc);
  width: 22%;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.role-card:hover {
  transform: translateY(5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.role-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 20px;
  transition: transform 0.3s ease;
}

.role-card h3 {
  font-size: 1.5rem;
  margin: 5px 0;
  color: #2c3e50;
}

.role-card p {
  font-size: 1rem;
  margin: 15px 0;
}

.role-card p.department {
  font-weight: bold;
  color: #0077b6;
}

@media (max-width: 768px) {
  .doctor-card img {
    height: 120px;
    width: 120px;
  }

  .doctor-card h3 {
    font-size: 1.2rem;
  }

  .doctor-card p {
    font-size: 0.9rem;
  }
}
